@import "../../Sass";

.section-about {

  padding: 50px 30px;


  .about-me {



    .style-under-title {
      padding-top: 50px;
    }


  }

  .skills-info {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    gap: 20px;

    .info {
      width: 60%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 30px;
      @media (max-width: 768px) {
        width: 100%;
        flex-direction: column;
      }

      .row:nth-of-type(1) {
        width: 41%;
        @media (max-width: 768px) {
          width: 100%;

        }
      }

      .row:nth-of-type(2) {
        width: 50%;
        @media (max-width: 768px) {
          width: 100%;

        }
      }

      .row {

        p {
          border-bottom: 1px solid rgba(255, 255, 255, 0.5411764706);
          padding: 8px 0;
          margin: 0;
        }
      }

      .cv {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        @media (max-width: 768px) {
          gap: 0;

        }

        button {
          color: white;

          padding: 10px;
          width: 160px;
          border-radius: 20px;
          outline: none;
          border: none;
          margin-right: 10px;
          cursor: pointer;
        }
      }
    }

    .skills {
      width: 40%;
      @media (max-width: 768px) {
        width: 100%;
      }

      .row-skills {
        padding: 10px;

        .type-degree {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .progress {
          background-color: #3a36369e;
          width: 100%;
          height: 6px;
          position: relative;
          border-radius: 10px;

        }
      }

    }

  }

  .educations-experiences {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 30px;
    color: white!important;
    @media (max-width: 575px) {
      flex-direction: column;
    }

    .educations, .experiences {
      width: 50%;
      @media (max-width: 575px) {
        width: 100%;
      }


      .content-education, .content-experience {
        background-color: $background-sideBar;
        border-radius: 28px;
        border: 3px solid #ffffff2b;
        position: relative;
        padding: 20px;

        .education, .experience {
          margin-left: 26px;
        }
      }

      .date {
        position: relative;

        svg {
          padding-right: 15px;
        }

      }

      .style-para {

        max-width: 450px;

      }
    }
  }
}

