


$background-sideBar:#222121;
$background-content:#151515;
$dark:#151515;
$light:#fff;
$color-red:#ec1839;
$color-orange:#fa5b0f;
$color-green:#37b182;
$color-blue:#1854b4;
$color-purple:#fo21b2;
$color-white:#fff;

$bg-black-900:#f2f2fc;
$bg-black-800:#fdd9ff;
$bg-black-700:#e8dfec;
$bg-black-600:#302e4d;
$bg-black-500:#504e70;

$box-shadow:(48,46,77,0.15);
$font-size-title:30px;
$font-size-under-title:25px;
$font-size-para:20px;

$font-bold:bold;

//@function textColor ($color) {
//  @if ($color==#151515) {
//    @return black
//  } @else if($color==#fff) {
//    @return red
//  }
//}